{% extends "::base.html.twig" %}

{% block body %}

    <style>

        [type="date"] {
            border-radius:0px 0px 0px 0px;

            line-height: 20px;
            font-size: 12px;
            font-weight: bold;
            background:#f6f6f6 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_1.png)  98% 50% no-repeat ;
        } [type="time"] {
              border-radius:0px 0px 0px 0px;

              line-height: 20px;
              font-size: 12px;
              font-weight: bold;
              background:#f6f6f6 url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  98% 50% no-repeat ;
          }
        form {
            width: 60%;
        }
        [type="date"]::-webkit-inner-spin-button {

            display: none;
        }
        [type="date"]::-webkit-calendar-picker-indicator {
            opacity: 0;
        }

    </style>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <link   href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

    <body class="scroll-assist">
        <div class="main-container">
            <section class="page-title page-title-2 image-bg overlay parallax">
                <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 0px, 0px); background: url({{ asset('img/home21.jpg' ) }}); top: -100px;">
                    <img alt="Background Image" class="background-image" src="{{ asset('img/home21.jpg' ) }}" style="display: none;">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="uppercase mb8">Reclamation Objet Perdu/Trouvé</h2>
                            <p class="lead mb0">Veuillez publier votre Reclamation!</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <ol class="breadcrumb breadcrumb-2">
                                <li>
                                    <a href="{{ path('acceuilRec') }}">Home</a>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                </li>
                                <li class="active">Plan A Project</li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>



            <section>
                <div class="container">
                    <div class="row">
                    {{ form_start(c)}}
                        <table>
                            <tr>
                                <td>
                                    <div class="input-with-label text-left">
                                        <span>Description</span>
                                    </div>
                                </td>


                                <td>
                                    {{ form_widget(c.description) }}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="input-with-label text-left">
                                        <span>Lieu</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="select-option">
                                        <i class="ti-angle-down"></i>
                                        {{ form_widget(c.lieuDecouverte) }}
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-with-label text-left">
                                        <span>Date</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="full-width">
                                        {{ form_widget(c.dateDecouverte,{ 'attr' : {'class':'form-control datepicker','id':'datepicker','placeholder':'date'}}) }}
                                        {{form_errors(c.dateDecouverte)}}
                                        {% if error !="" %}
                                            <b style="color:red">Veuillez entrer une date valide</b>
                                        {% endif %}
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="input-with-label text-left">
                                        <span>Type d'objet</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="select-option">
                                        <i class="ti-angle-down"></i>
                                        {{ form_widget(c.typeobjPerdu) }}
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-with-label text-left" hidden id="Type2">
                                        <span >Autre type d'objet</span>
                                    </div>
                                </td>
                                <td hidden id="Type">
                                    {{ form_widget(c.autretypeobjPerdu) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-with-label text-left">
                                        <span>Type de Reclamation</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="select-option">
                                        <i class="ti-angle-down"></i>
                                        {{ form_widget(c.type) }}
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-with-label text-left">
                                        <span>Ou exactement ?</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="select-option">
                                        <i class="ti-angle-down"></i>
                                        {{ form_widget(c.localisation) }}
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-with-label text-left" hidden id="Type3">
                                        <span>autre</span>
                                    </div>
                                </td>
                                <td hidden id="Type4">
                                    {{ form_widget(c.autrelocalisation) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-with-label text-left">
                                        <span>Etage</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="select-option">
                                        <i class="ti-angle-down"></i>
                                        {{ form_widget(c.etage) }}
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="display: none !important;" class="input-with-label text-left" hidden id="Type5">
                                        <span>Salle</span>
                                    </div>
                                </td>
                                <td hidden id="Type6">
                                    {{ form_widget(c.salle) }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-with-label text-left">
                                        <span>Photo</span>
                                    </div>
                                </td>
                                <td>
                                    {{ form_widget(c.photo) }}
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>
                                    {{ form_end(c) }}
                                </td>
                            </tr>
                        </table>
                        </div>
                    </div>
                    <!--end of row-->
            </section>
                </div>

<script>
    $('document').ready(function ()
    {
        $('#reclamationbundle_reclamation_typeobjPerdu').change(function ()
        {
            var x = $( "#reclamationbundle_reclamation_typeobjPerdu" ).val();
            if (x=='Autre')
            {

                $('#Type').show();
                $('#Type2').show();
            }
        });
    });
</script>
        <script>
            $('document').ready(function ()
            {
                $('#reclamationbundle_reclamation_localisation').change(function ()
                {
                    var x = $( "#reclamationbundle_reclamation_localisation" ).val();
                    if (x=='Autre')
                    {
                        $('#Type5').hide();
                        $('#Type6').hide();
                        $('#Type3').show();
                        $('#Type4').show();
                    }
                    if (x=='Bloc A')
                    {
                        $('#Type3').hide();
                        $('#Type4').hide();
                        $('#Type5').show();
                        $('#Type6').show();
                    }
                    if (x=='Bloc B')
                    {
                        $('#Type3').hide();
                        $('#Type4').hide();
                        $('#Type5').show();
                        $('#Type6').show();
                    }
                    if (x=='Bloc C')
                    {
                        $('#Type3').hide();
                        $('#Type4').hide();
                        $('#Type5').show();
                        $('#Type6').show();
                    }
                    if (x=='Bloc D')
                    {
                        $('#Type3').hide();
                        $('#Type4').hide();
                        $('#Type5').show();
                        $('#Type6').show();
                    }
                    if (x=='Bloc E')
                    {
                        $('#Type3').hide();
                        $('#Type4').hide();
                        $('#Type5').show();
                        $('#Type6').show();
                    }
                    if (x=='Bloc F')
                    {
                        $('#Type3').hide();
                        $('#Type4').hide();
                        $('#Type5').show();
                        $('#Type6').show();
                    }
                    if (x=='Bloc H')
                    {
                        $('#Type3').hide();
                        $('#Type4').hide();
                        $('#Type5').show();
                        $('#Type6').show();
                    }
                    if (x=='Buvette')
                    {
                        $('#Type3').hide();
                        $('#Type4').hide();
                        $('#Type5').hide();
                        $('#Type6').hide();
                    }

                });
            });
        </script>
    </body>
{% endblock %}
