<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Entr'aide {% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/template/css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link rel="stylesheet"  href="{{ asset('bundles/template/css/font-awesome.css') }}"  />
            <link rel="stylesheet"  href="{{ asset('bundles/template/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link href="{{ asset('bundles/template/css/themify-icons.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link href="{{ asset('bundles/template/css/flexslider.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link href="{{ asset('bundles/template/css/lightbox.min.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link href="{{ asset('bundles/template/css/ytplayer.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link href="{{ asset('bundles/template/css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link href="{{ asset('bundles/template/css/custom.css') }}" rel="stylesheet" type="text/css" media="all" />
            <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" type="text/css" href="{{ asset('lib/datetimepicker/css/bootstrap-datetimepicker.min.css') }}"/>

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="nav-container">
        <a id="top"></a>
        <nav class="bg-dark">
            <div class="nav-bar">
                <div class="module left">
                    <a href="{{ path('homepage') }}">
                        <img  alt="Foundry" src="{{ asset('bundles/template/img/esprit.png')  }} " height="50px" >
                            <img class="logo logo-dark" alt="Foundry" src="{{ asset('bundles/template/img/logo-dark.png')  }} " >
                    </a>
                </div>
                <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                    <i class="ti-menu"></i>
                </div>
                <div class="module-group right">
                    <div class="module left">
                        <ul class="menu">
                            <li >
                                <a href="{{ path('homepage') }}">
                                    Acceuil
                                </a>
                            </li>
                            <li class="has-dropdown">

                                <a href="{{ path('e_index') }}">
                                    Evenement
                                </a>

                            </li>
                            <li class="has-dropdown">
                                <a href="{{ path('club_index') }}">
                                    Club
                                </a>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">
                                    Covoiturage
                                </a>
                                <ul class="mega-menu">
                                    <li>
                                        <ul>
                                            <li>
                                                <a href="{{ path('acceuil_cov') }}">
                                                    <i class="ti-link"></i> Acceuil</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('mesreservationcov') }}">
                                                    <i class="ti-link"></i> Vos Reservations</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('mesdemandereservationcov') }}">
                                                    <i class="ti-link"></i>Demandes Reçus</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('mes_covoiturage') }}">
                                                    <i class="ti-link"></i> Vos Annonces</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">
                                    Colocation
                                </a>
                                <ul>
                                    <li>
                                        <a href="{{ path('colocation_chercher') }}">Chercher colocation</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('colocation_affiche_mesreservations') }}">Mes Réservations</a>
                                    </li>
                                    <li class="has-dropdown">
                                        <a href="{{ path('colocation_affiche_mesAnnonces') }}">Mes Annonces</a>
                                        <ul>
                                            <li>
                                                <a href="{{ path('user_affiche_res') }}">
                                                    Liste des demandes de réservation
                                                </a>
                                            </li>

                                        </ul>
                                    </li>


                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="{{ path('acceuilRec') }}">
                                    Reclamations
                                </a>
                                <ul class="mega-menu">
                                    <li>
                                        <ul>
                                            <li>
                                                <a href="{{ path('add') }}">Ajouter Reclamation Objet Perdu/Trouvé</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('addMal') }}">Ajouter Reclamation mal stationnement</a>
                                                <span class="label">New!</span>
                                            </li>
                                            <li>
                                                <a href="{{ path('affichertoutes') }}">Toutes les reclamations Objet Perdu/Trouvé</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('affichertoutesMal') }}">Toutes les reclamations mal stationnement</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <ul>
                                            <li>
                                                <a href="{{ path('recherche') }}">Mes reclamations Objet Perdu/Trouvé</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('rechercheMal') }}">Mes Reclamations mal stationnement</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <a href="#">
                                    Revision
                                </a>

                                <ul>
                                    <li class="has-dropdown">
                                        {% if not is_granted(' IS_AUTHENTICATED_REMEMBERED')  %}
                                            <a href={{ path('revision_ajout') }}>
                                                Ajouter Cours
                                            </a>
                                            <a href={{ path('revision_aff') }}>
                                                Consulter cours
                                            </a>

                                            <a href={{ path('reservation_salle') }}>
                                                Reserver Salle
                                            </a>

                                            <a href={{ path('voir_reservation') }}>
                                                resultat reservation
                                            </a>
                                        {% else %}
                                            <a href={{ path('revision_ajout') }}>
                                                Ajouter Cours
                                            </a>
                                            <a href={{ path('revision_aff') }}>
                                                Consulter cours
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                    <!--end of menu module-->
                    <div class="module widget-handle language left">
                        <ul class="menu">
                            <li class="has-dropdown">
                                <a href="#">Compte</a>
                                <ul>
                                    {% if app.user %}
                                    <li>
                                        <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_security_logout') }}">Deconnecte</a>
                                    </li>
                                    {% else %}
                                    <li>
                                        <a href="{{ path('fos_user_security_login') }}">Login</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--end of module group-->
            </div>
        </nav>
    </div>
    <div class="main-container">


        {% block body %}{% endblock %}
        {% block javascripts %}
    </div>
    <div class="col-md-12">
    <footer class="footer-1 bg-dark" style="position: relative; ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <img alt="Logo" src="{{ asset('bundles/template/img/esprit_footer.png')  }}" height="50px">
                </div>
                <div class="col-md-9 col-sm-6">
                    <div class="widget">
                        <h6 class="title">A propos</h6>
                        <hr>
                        <p>
                            Créé en 2003, la School of Engineering accueille désormais prêt de 5000 élèves répartis en 4 spécialités : Informatique, Télécommunication, Génie Civil et Génie électromécanique. Les formations pouvant être suivis en cours du jour et aussi en cours du soir pour les personnes salariées. Esprit School of Engineering lors de sa création s’est donnée comme mission principale de former des ingénieurs «  autrement ».
                        </p>
                    </div>
                    <!--end of widget-->
                </div>

            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-6">
                    <span class="sub">© Copyright 2018 - ZeroBug</span>
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline social-list">
                        <li>
                            <a href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-dribbble"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-vimeo-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of container-->
        <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
    </footer>
    </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{{ asset('bundles/template/js/lightbox.min.js') }}"></script>
        <script src="{{ asset('bundles/template/js/spectragram.min.js') }}"></script>
        <script src="{{ asset('bundles/template/js/ytplayer.min.js') }}"></script>
        <script src="{{ asset('bundles/template/js/countdown.min.js') }}"></script>
        <script src="{{ asset('bundles/template/js/parallax.js') }}"></script>
        <script src="{{ asset('bundles/template/js/scripts.js') }}"></script>
        <script src="{{ asset('bundles/template/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/template/js/bootstrap.min.js') }}"></script>


        {% endblock %}
    </body>
</html>
