{% extends "::base.html.twig" %}

{% block body %}

    <body class="scroll-assist">

    <div class="main-container">
        <section class="page-title page-title-4 bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="uppercase mb0">
                            <i class="ti-pencil-alt"></i> Réservation</h3>
                    </div>

                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>



        <section>
            <div class="container feature bordered text-center">
                <div class="row">


                    {{ form_start(c)}}
                    <table>
                        <tr>
                            <td>
                                {{ form_label(c.nbplace) }}
                            </td>
                            <td>
                                {{ form_widget(c.nbplace) }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {{ form_label(c.date_res) }}
                            </td>
                            <td>
                                <div class="full-width">
                                    {{ form_widget(c.date_res,{ 'attr' : {'class':'form-control datepicker','id':'datepicker','placeholder':'date'}}) }}
                                    {{form_errors(c.date_res)}}
                                </div>
                            </td>

                        </tr>
<td></td>

                            <td>
                                {{ form_end(c) }}
                            </td>
                        </tr>


                    </table>
                    {{ form_end(c) }}

                </div>
            </div>
    </body>

        </section>
{% endblock %}