
{% extends "::base.html.twig" %}
{% block body %}

    <div class="main-container">




        <br><br><br>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12 block">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-4" style="font-size: 20px">
                                    Départ
                                </div>
                                <div class="col-xs-8" style="font-size: 20px">
                                    <input hidden id="dep" value="{{ covoiturage.depart }}" >
                                    <strong>{{ covoiturage.depart }}</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4" style="font-size: 20px">
                                     Arrivée
                                </div>
                                <div class="col-xs-4" style="font-size: 20px">
                                    <input hidden id="arr" value="{{ covoiturage.arrive }}" >
                                    <strong>{{ covoiturage.arrive }}</strong>
                                </div>
                                <div class="col-xs-4">
                                    <div class="bold-h3" style="font-size: 26px ; color: #880000">         <br>{{ covoiturage.prix }} DT <br></div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-4" style="font-size: 20px">
                                    Date de depart
                                </div>
                                <div class="col-xs-8" style="font-size: 20px">
                                    <strong>
                                        {{ covoiturage.date|date('y/m/d') }}
                                    </strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4" style="font-size: 20px">
                                    Heure de départ
                                </div>
                                <div class="col-xs-8" style="font-size: 20px">
                                    <strong>{{ covoiturage.heure|date('H:i')}}</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4" style="font-size: 20px">
                                   Comfort
                                </div>
                                <div class="col-xs-8" style="font-size: 20px">
                                    <strong>{{ covoiturage.comfort }}</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4" style="font-size: 20px">
                                    Fumeur
                                </div>
                                <div class="col-xs-8" style="font-size: 20px">
                                    <strong>{{ covoiturage.fumeur }}</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4" style="font-size: 20px">

                                </div>
                                <div class="col-xs-8" style="font-size: 20px">
                                    <strong>

                                    </strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4" style="font-size: 20px">
                                    <center>
                                        <br>
                                        <a  href="{{ path('ContacterConducteur') }}" class="btn"  >&#9742; Contacter le conducteur</a>
                                    </center>
                                </div>

                            </div>

                        </div>



                    </div>


                    <div class="one-fourth heightfix">
                        <iframe frameborder="0" style="border:0" width="500px" height="240px"
                                src="https://www.google.com/maps/embed/v1/directions?origin={{ covoiturage.depart }}&destination={{ covoiturage.arrive }}&key=AIzaSyBN5BlbnsC04RC40wvaZfm7QrwgFX8IhIU&mode=driving&avoid=tolls|highways" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="u-cell u-alignRight u-alignTop">
                    <div class="h4">
                    <span class="u-cell">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Annonce publiée le {{ covoiturage.datesys|date('Y/m/d') }}

                                            </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">

                    <aside>
                        <div class="span4">
                            <div class="panel panel-default">
                                <div class="panel-body" align="center">
                                    <span class="h4" style="text-align: center">Prix par place </span>

                               <span class="h4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ covoiturage.prix }} DT </span>
                                    <hr>
                                </div>



                                    <div class="padding-top" align="center" style="color: #1e1e29"><h4>{{ covoiturage.nbrPlaces }} places restantes</h4></div>
                                <em> <h5 style="color: #880000">{% for label, messages in app.flashes %}
                                            {% for message in messages %}
                                                <div class="flash-{{ label }}">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endfor %}</h5></em>
                               <div class="" align="center">
                                   {{ form_start(c) }}
                                   {{ form_end(c) }}
                               </div>
                                <hr>



                            <div class="Block Profile">
                                <h3 class="Block-heading" align="center">
                                    Conducteur
                                </h3>
                                <hr>
                                <div class="Block-section">

                                    <div class="ProfileCard">
                                        <div class="ProfileCard-head">
                                            <div class="ProfileCard-picture">








                                                <a href="#" class="PhotoWrapper PhotoWrapper--medium">






                                                    {% if app.user %}
                                                        <img src="{{ asset('userupload'~app.user.photo) }}" width="72" height="72" alt="" class="PhotoWrapper-user PhotoWrapper-user--medium">

                                                    {% else %}
                                                        <img src="https://d2kwny77wxvuie.cloudfront.net/user/ewXBdCZTQUSA-prjwGwwNw/thumbnail_72x72.jpeg" width="72" height="72" alt="" class="PhotoWrapper-user PhotoWrapper-user--medium">

                                                    {% endif %}
                                                </a>
                                            </div>

                                            <div class="ProfileCard-infosBlock">
                                                <h4 class="ProfileCard-info ProfileCard-info--name u-truncate">
                                                    <a href="#" rel="nofollow">{{ user.nom }} {{ user.prenom }}</a>
                                                </h4>
                                                <div class="ProfileCard-info">

                                                </div>
                                            </div>
                                        </div>








                                    <ul class="main-column-list verification-list unstyled">
                                        <li>
                                            <svg aria-hidden="true" class="c-icon u-alignMiddle u-green-fill" style="width: 16px; height: 16px;"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check-circle"></use></svg>

                                            <span class="u-alignMiddle u-green bold tip" data-placement="top" data-hasqtip="35" oldtitle="Nous avons vérifié que le numéro de téléphone indiqué par ce membre permet bien de le joindre." title="">
                        Téléphone vérifié
                    </span>
                                        </li>
                                        <li>
                                            <svg aria-hidden="true" class="" style="width: 16px; height: 16px;"></svg>

                                            <span class="u-alignMiddle u-green bold tip" data-placement="top" data-hasqtip="36" oldtitle="Nous avons vérifié l'e-mail de ce membre." title="">
                        E-mail vérifié
                    </span>
                                        </li>



                                    </ul>





                                    <hr >
                                    <h4 class="Block-heading--sub">Activité</h4>

                                    <ul class="main-column-list unstyled">
                                        <li>
                                            Annonces publiées : {{ count }}
                                        </li>
                                        <li>
                                            Dernière connexion : {{ user.lastlogin|date }}
                                        </li>
                                        <li>
                                            Email : {{ user.email }}
                                        </li>
                                    </ul>



                                </div>
                            </div>

                        </div>
                            </div>
                        </div>
                    </aside>


                </div>



            </div>

        </div>

        <br><br><br><br><br><br>


    </div>





    {% endblock body %}

