
{% extends "::base.html.twig" %}
{% block body %}

    <div>

    </div>
    <center>
        <br><br>
        <h3>Liste Des reservations dans des trajets</h3>
        <div class="horizontal-tile" style="width: 595px "  >

            {% if cov == null %}
                <br><br><br>
                <div class="text-center">
                    <i class="ti-receipt icon icon-lg mb24 mb-xs-0"></i>
                    <h1 class="large">OUUPS!!</h1>
                    <p>Vous n'avez aucune demande a traiter</p>
                    <a class="btn" href="{{ path('acceuil_cov') }}">Menu Principal</a>
                    <a class="btn" href="{{ path('acceuil_cov') }}">Rechercher un trajet</a>
                </div>

        {% endif %}


            {% for cov in cov %}




                <div class="tile-left">

                    {% if cov.Etat==true %}
                        <a href="#">
                            <div class="background-image-holder fadeIn" style="background: url(&quot;{{ asset('bundles/template/img/accepte.jpg') }}&quot;);">
                                <img alt="image" class="background-image" src="{{ asset('bundles/template/img/accepte.jpg') }}" style="display: none;">
                            </div>
                        </a>
                </div>

            <div class="tile-right bg-secondary">
                <div class="description">
                    <h4 class="mb8">Date de depart : {{ cov.idAnnonce.date|date('y/m/d') }} </h4>

                    <h6 class="uppercase">
                        {{ cov.idAnnonce.depart }} &rarr;&rarr; {{ cov.idAnnonce.arrive }}

                    </h6>
                    <h6><strong>Nombre de places souhaitées : </strong>  {{ cov.NbPLACES }} </h6>

                    <div align="center">



                        <a class="btn" href="{{ path('AnnulerReservation' , {'id':cov.id} )  }}">Annuler la demande</a>

                    </div>
                </div>

            </div>

                        {% else %}
                            <a href="#">
                                <div class="background-image-holder fadeIn" style="background: url(&quot;{{ asset('bundles/template/img/enattente.png') }}&quot;);">
                                    <img alt="image" class="background-image" src="{{ asset('bundles/template/img/enattente.png') }}" style="display: none;">
                                </div>
                            </a>
                            </div>

                            <div class="tile-right bg-secondary">
                                <div class="description">
                                    <h4 class="mb8">Date de depart : {{ cov.idAnnonce.date|date('y/m/d') }} </h4>

                                    <h6 class="uppercase">
                                        {{ cov.idAnnonce.depart }} &rarr;&rarr; {{ cov.idAnnonce.arrive }}

                                    </h6>
                                    <h6><strong>Nombre de places souhaitées : </strong>  {{ cov.NbPLACES }} </h6>
                                    <h6>

                                        <a class="btn" href="{{ path('AnnulerReservation' , {'id':cov.id} )  }}">Annuler la demande</a>


                                    </h6>



                                </div>

                            </div>
                    {% endif %}



            {% endfor %}

        </div>
    </center>



{% endblock body %}