{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <br>
    <br>

    <div class="container">
        <div class="row masonry masonryFlyIn mb40 fadeIn" style="position: relative; height: 928.5px;">
            {% for club in clubs %}
                <div class="col-sm-4 post-snippet masonry-item fadeIn" style="height: 600px">
                    <a href="#">
                        <img alt="Post Image" src="{{ asset('clubupload/'~ club.photo)}}" height="300px" width="300px">
                    </a>
                    <div class="inner">
                        <a href="#">
                            <h5 class="mb0">{{ club.nom|capitalize }}</h5>
                            <span class="inline-block mb16">{{ club.idUser }}</span>
                        </a>
                        <hr>
                        <p>
                        {{ club.description }}
                        </p>
                        <a class="btn btn-sm" href="{{ path('club_show',{'idclub':club.idClub}) }}">Voir Club </a>

                    </div>
                </div>
            {% endfor %}
            <!--end of snippet-->

            <!--end of snippet-->
        </div>
    </div>


{% endblock %}
