{% extends 'baseadmin.html.twig' %}

{% block body %}
    <h1>Creer un nouveau club</h1>

    {{ form_start(form) }}
    <div class="full-width">
        {{ form_widget(form.nom,{ 'attr' : {'class':'form-control','id':'description','placeholder':'Nom Club'}}) }}
        {{form_errors(form.nom)}}
    </div>
    <br>
    <div class="full-width">
        {{ form_widget(form.description,{ 'attr' : {'class':'form-control','id':'description','placeholder':'Description de Club'}}) }}
        {{form_errors(form.description)}}
    </div>
    <br>
    <div class="full-width">
        {{ form_widget(form.photo,{ 'attr' : {'class':'form-control','id':'description','placeholder':'Photo de Club'}}) }}
        {{form_errors(form.photo)}}
    </div>
    <br>
    <div class="full-width">
        {{ form_widget(form.idUser,{ 'attr' : {'class':'form-control','id':'description','placeholder':'Responsable de Club'}}) }}
        {{form_errors(form.idUser)}}
    </div>
    <br>
    <div class="full-width">
        {{ form_widget(form.nom,{ 'attr' : {'class':'form-control','id':'description','placeholder':'Nom Club'}}) }}
        {{form_errors(form.description)}}
    </div>

    {{ form_widget(form) }}
        <input type="submit"  class="btn btn-success btn-block" value="Ajouter Club" />
    {{ form_end(form) }}


{% endblock %}
