{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #map {
            height: 300px;
            width: 100%;
        }
        /* Optional: Makes the sample page fill the window. */


    </style>


    <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12 block">
                <div class="panel panel-default">
                    <img src="{{ asset('bundles/template/img/agency1.jpg') }}" alt="image" class="img-responsive">
                    <div class="panel-body">
                        <h3 class="color-1">{{ evenement.nom|capitalize }}</h3>
                        <p style="width:max-content;  word-wrap: break-word">{{ evenement.description }}</p>
                    </div>



                </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">

                <aside>
                    <div class="rightSidebar">

                        <div class="panel panel-default">

                            <div class="panel-heading bg-color-1 border-color-1">
                                <h3 class="panel-title">Informations de l'evennement</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-left iconContent bg-color-2">

                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-2"> <i class="fa fa-calendar" style="color: #cd2122" ></i>  Date de l'evennement</h4>
                                            <p>{% if evenement.date %}{{ evenement.date|date('Y-m-d') }}{% endif %}</p>
                                        </div>
                                    </li>

                                    {% if evenement.date %}
                                        <li class="media">
                                            <div class="media-left iconContent bg-color-3">

                                            </div>
                                            <div class="media-body iconContent">
                                                <h4 class="media-heading color-3"><i class="fa fa-clock-o" style="color: #cd2122" ></i>   Heure</h4>
                                                <p>{{ evenement.heure|date('H:i') }}</p>
                                            </div>

                                        </li>
                                    {% endif %}
                                    {% if evenement.nbreDispo==0 %}
                                        <li class="media iconContet">
                                            <div class="media-left iconContent bg-color-4">

                                            </div>
                                            <div class="media-body iconContent">
                                                <h4 class="media-heading color-4">  <i class="fa fa-users" style="color: #cd2122" ></i> Nombre disponible</h4>
                                                <p>Ouvert</p>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li class="media iconContet">
                                            <div class="media-left iconContent bg-color-4">
                                            </div>
                                            <div class="media-body iconContent">
                                                <h4 class="media-heading color-4">  <i class="fa fa-users" style="color: #cd2122" ></i> Nombre disponible</h4>
                                                <p>{{ evenement.nbreDispo }}</p>
                                            </div>
                                        </li>

                                    {% endif %}
                                    <li class="media iconContet">
                                        <div class="media-left iconContent bg-color-4">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="media-body iconContent">
                                            <h4 class="media-heading color-4"><i class="fa fa-map-marker" style="color: #cd2122" ></i>
                                                Adresse de l'evennement</h4>
                                            <p>{{ evenement.lieu }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </aside>
                <hr>

                <iframe
                        width="400"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCWb0i4faRZm8P5oEN-ukUF_CACQzWt480
    &q={{ evenement.lieu }}" allowfullscreen>
                </iframe>
            </div>


        </div>
    </div>

    <br><br><br><br><br><br>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_Y-cLVEP0xzja-900Y1FDSCT_YCwk0xc&callback=initMap">
    </script>

{% endblock %}
